**/nbproject/private/
/.gradle/
/.nb-gradle/
/.idea/
/dist/
/build/
/bin/
/netbeans/
/.classpath
/.project
/.settings
*.dll
*.so
*.jnilib
*.dylib
*.iml
.DS_Store
/jme3-core/src/main/resources/com/jme3/system/version.properties
/jme3-*/build/
/jme3-bullet-native/bullet.zip
/jme3-bullet-native/bullet-2.82-r2704/
/jme3-android-native/openal-soft/
/jme3-android-native/OpenALSoft.zip
/jme3-android-native/src/native/jme_decode/STBI/
/jme3-android-native/src/native/jme_decode/Tremor/
/jme3-android-native/src/native/jme_decode/com_jme3_audio_plugins_NativeVorbisFile.h
/jme3-android-native/src/native/jme_decode/com_jme3_texture_plugins_AndroidNativeImageLoader.h
/jme3-android-native/stb_image.h
!/jme3-bullet-native/libs/native/windows/x86_64/bulletjme.dll
!/jme3-bullet-native/libs/native/windows/x86/bulletjme.dll
!/jme3-bullet-native/libs/native/osx/x86/libbulletjme.dylib
!/jme3-bullet-native/libs/native/osx/x86_64/libbulletjme.dylib
!/jme3-bullet-native/libs/native/linux/x86/libbulletjme.so
!/jme3-bullet-native/libs/native/linux/x86_64/libbulletjme.so

/OpenAL64.dll
/ihmc-commons-0.11.0-alpha-sources.jar

# Top level directories to ignore
/build
/classes
/bin
/out
/target
/pit-reports
/install
/src/*/bin

# Top level directories in sub-projects
*/classes
*/bin
*/out
*/target
*/build
*/dist
*/pit-reports
*/install
*/nbproject
*/src/*/bin
*/src/*/build
*/src/*/out

# directories to always ignore
**/.gradle
**/.project
**/.classpath
**/.git
**/.settings
**/.idea
**/.metadata
**/.DS_Store
**/.svn
**/CVS
**/tmp
**/.idea_modules
**/.directory
**/.Trash-*
**/$RECYCLE.BIN
**/.kdev4
**/.LSOverride
**/.AppleDouble
**/pitest
**/generated-src2


# File types to ignore
**/cookies.txt
**/*.iml
**/*.hprof
**/hs_err_pid*
**/id_dsa*
**/id_rsa*
**/*.war
**/*.ear
**/*.class
**/.cvsignore
**/.cproject
**/.factorypath
**/*.pydevproject
**/local.properties
**/.loadpath
**/.buildpath
**/.texlipse
**/.swp.*
**/.*.kate-swp
**/.ipr
**/.iws
**/atlassian-ide-plugin.xml
**/.lyx~
**/.lyx#
**/~*
**/[._]*.s[a-w][a-z]
**/[._]s[a-w][a-z]
**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini
**/*.lnk
**/*.desktop
**/secring.*
**/._*
**/.AppleDB
**/.AppleDesktop
**/Network Trash Folder
**/Temporary Items
**/.apdisk
**/rebel.xml
**/generatedTestSuites/*TestSuite.java

!gradle/wrapper/gradle-wrapper.jar

